/* # {box-sizing: boder-box;
margin: 0;
}

header{
    padding: 30px 0 30px 0;
    background-color: blueviolet;
    color: cornflowerblue;
    text-align: center;
}

header h1 {
    display: inline;
    margin-left: 15px;
    font-weight: 300;
} */